.container {
  display: flex;
  padding: 1.25rem 1.5rem;
  cursor: pointer;
  transition: background-color 200ms ease;

  &:hover {
    background-color: rgba(128, 128, 128, 0.15);
  }
}

.start {
  width: 3rem;
  flex-shrink: 0;
  gap: 0.5rem;
}

.end {
  & > * + * {
    margin-top: 0.5rem;
  }

  .metadata {
    display: flex;
    align-items: baseline;
    gap: 0.25rem;
    color: grey;
    font-size: 0.75rem;
  }
}
