:root {
  --screen-height: 100vh;
  --screen-height: 100svh;
  --navbar-width: 18.75rem;
  --header-height: 3.5rem;
  --pagination-height: 2.25rem;
  --table-header-height: 3.5rem;
  --title-height: 3rem;
  --table-height: calc(
    var(--screen-height) - var(--header-height) - var(--pagination-height) - var(--title-height) - var(
        --table-header-height
      ) - 2rem
  );

  --font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

.ant-table {
  scrollbar-color: unset !important;
}

body {
  font-family: var(--font-family-main);
}

a {
  font-weight: inherit;
  font-size: inherit;
}
